@use '../../../styles/abstracts/' as *;

.progress-section {
  @include flex(row, nowrap, space-between, center);
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  cursor: default;

  .progress-bar-bg {
    height: 8px;
    background-color: $color-gray-light;
    border-radius: 8px;
    width: 110px;

    .progress-bar-fill {
      height: 100%;
      background-color: $color-accent;
      border-radius: 4px;
      transition: width 0.3s ease;
    }
  }

  .subtask-label {
    white-space: nowrap;
    color: $color-primary;
  }
}

.subtask {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__field {
    width: 100%;
    height: 48px;
    padding: 0 80px 0 16px;
    border: 1px solid $color-gray-form;
    border-radius: 10px;
    background: $color-white;
    outline: none;
    box-sizing: border-box;
    transition: border 0.2s ease;
    cursor: pointer;

    &:focus {
      border: 1px solid $color-highlight;
    }
  }

  &__buttons {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    @include flex(row, nowrap, flex-start, center);
  }

  &__btn,
  &__item-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: transparent;
    @include flex(row, wrap, center, center);
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background-color: $color-gray-light;
    }

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }

  &__list {
    max-height: 120px;
    overflow-y: auto;
    margin-top: 8px;
    min-width: 0;
  }

  &__item {
    @include flex(row, nowrap, space-between, flex-start);
    min-width: 0;
    padding: 4px 16px;
    min-height: 32px;
    border-radius: 10px;
    transition: background 0.2s ease;
    cursor: pointer;

    &:hover:not(.subtask__item--editing) {
      background: #eeeeee;

      .subtask__item-buttons {
        opacity: 1;
      }
    }

    &--editing {
      padding: 0;
      background: $color-white;
    }
  }

  &__content {
    @include flex(row, nowrap, flex-start, flex-start);
    gap: 12px;
    flex: 1;
    min-width: 0;
    overflow: hidden;

    span:last-child {
      overflow-wrap: anywhere;
      min-width: 0;
    }
  }

  &__dot {
    font-size: 16px;
    line-height: 1;
  }

  &__item-buttons {
    @include flex(row, nowrap, flex-start, center);
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__divider {
    width: 1px;
    height: 32px;
    background: $color-gray-form;
    margin: 0 4px;
  }

  &__edit-mode {
    @include flex(row, wrap, space-between, center);
    padding: 4px 16px;
    width: 100%;
    background: $color-white;
    border-bottom: 1px solid $color-highlight;

    .subtask__item-buttons {
      opacity: 1;
    }
  }

  &__edit-field {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    color: $color-text;
  }
}