@use '../../../styles/components/' as *;
@use '../../../styles/abstracts/' as *;

.header {
  @include flex($justify-content: flex-end, $align-items: center);
  height: 95px;
  padding: 0 32px;
  background-color: $header-bg;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  gap: 16px;
  
}

.header-title {
  font-size: 16px;
  color: $color-text-muted;
  font-weight: 400;
}

.header-actions {
  @include flex($align-items: center);
  gap: 16px;
}

.header-icon {
  @include flex($justify-content: center, $align-items: center);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-light;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.user-initials {
  @include flex($justify-content: center, $align-items: center);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid $button-bg;
  color: $button-text;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $button-bg-hover;
  }
}