@use '../../../styles/components/' as *;
@use '../../../styles/abstracts/' as *;

.header {
  height: 95px;
  background-color: $header-bg;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  width: 100%;
  position: relative;
  z-index: 20;
}

.header-logo {
  display: none;
}

.header-content {
  @include flex($justify-content: space-between, $align-items: center);
  height: 100%;
  padding: 0 32px 0 100px;
  max-width: 1208px;
  width: 100%;
  gap: 16px;
}

.header-title {
  font-size: 20px;
  color: $color-primary;
  font-weight: 400;
}

.header-actions {
  @include flex($align-items: center);
  gap: 16px;
}

.header-icon {
  @include flex($justify-content: center, $align-items: center);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-light;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.user-initials {
  @include flex($justify-content: center, $align-items: center);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid $button-bg;
  color: $button-text;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $button-bg-hover;
  }

}

.avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.header-help-mobile {
  display: none;
}

.user-menu {
  @include flex($flex-direction: column, $justify-content: center);
  position: absolute;
  top: calc(100% + 20px);
  right: -25px;
  background-color: $sidebar-bg;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  width: 158px;
  height: 158px;
  z-index: 100;
  gap: 10px;
}

.user-menu-item {
  padding: 8px 16px 8px 16px;
  color: $color-text-muted;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-secondary-hover;
  }
}

@include tablet-lg {
  .header-logo {
    display: flex;
  }

  .header-title {
    display: none;
  }

  .header-icon {
    display: none;
  }

  .header-content {
    padding: 0 16px;
    max-width: none;
  }

  .user-menu {
    top: calc(100% + 0px);
    right: -5px;
    height: 200px;
    animation: slideInRight 0.25s ease-out forwards;
  }



  .header-help-mobile {
    @include flex();
  }

}