@use 'sass:math';

@mixin fluid-text($min: 16, $max: 48) {
  $maxViewportWidth: 1440;
  $minViewportWidth: 320;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 1rem},
    calc(#{$yAxisIntersection * 1rem} + #{$slope * 100vw}),
    #{$maxSize * 1rem}
  );
}

@mixin flex($flex-direction: row, $flex-wrap: wrap, $justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin maxContent {
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
}

@mixin maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

@mixin custom-material-dialog($radius: 30px) {
  .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: #{$radius};
    --mdc-dialog-container-color: white;

    .mdc-dialog__surface {
      padding: 0;
      overflow: hidden;
      background-color: transparent;
      border-radius: inherit;
    }
  }
}

.contact-dialog-panel {
  @include custom-material-dialog(30px);

  .cdk-visually-hidden {
    display: none;
  }
}
