@use '../../../styles/abstracts' as var;

.privacy-policy-container {
    padding: 110px 100px 0 100px;
    color: var.$color-text;

    .header {
        @include var.flex($justify-content: space-between, $align-items: center);
        margin-bottom: 30px;

    }

    section {
        margin-bottom: 24px;

        h3 {
            color: var.$color-text;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 16px;
            color: var.$color-text;
        }
    }
}

@include var.mobile {
    .privacy-policy-container {
        padding: 50px 16px 0 16px;
    }
}