@use '../../../styles/abstracts' as var;

.privacy-policy-container {
  padding: 110px 100px 100px 100px;
  color: var.$color-text;
  max-width: 1208px;

  .header {
    @include var.flex($flex-wrap: nowrap, $justify-content: space-between, $align-items: center);
    margin-bottom: 30px;
  }

  section {
    margin-bottom: 35px;

    h3 {
      color: var.$color-text;
      margin-bottom: 10px;
      font-size: 27px;
    }

    p {
      margin-bottom: 16px;
      color: var.$color-text;
    }

    span {
      color: var.$color-highlight;
      font-size: 16px;
    }
  }
}

.privacy-policy-container .header .back-button {
  display: none;

  @include var.tablet-xl {
    display: block;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

@include var.mobile {
  .privacy-policy-container {
    padding: 50px 16px 90px 16px;
  }
}