@use '../../../styles/abstracts' as var;

.privacy-policy-container {
    color: var.$color-text;

    .header {
        @include var.flex($justify-content: space-between, $align-items: center);
        margin-bottom: 30px;

    }

    section {
        margin-bottom: 24px;

        h3 {
            color: var.$color-text;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 16px;
            color: var.$color-text;
        }
    }
}