<div class="board-header">
  <h1 class="board-title">Board</h1>
  <button class="btn btn-primary add-task-btn-mobile">
    <img src="./icons/other/add.svg" alt="add" class="btn-icon-mobile"/>
  </button>

  <div class="board-actions">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="Find Task" (input)="onSearch($event)"/>
      <div class="search-divider"></div>
      <img src="./icons/form/search.svg" alt="search" class="search-icon"/>
    </div>

    <button class="btn btn-primary add-task-btn">
      Add task
      <img src="./icons/other/add.svg" alt="add" class="btn-icon"/>
    </button>
  </div>
</div>