@use '../../../styles/abstracts' as *;
@use '../../../styles/components' as *;
@use '../../../styles/base' as *;

.dialog-container {
  @include custom-material-dialog(30px);

  .cdk-visually-hidden {
    display: none;
  }

  position: relative;
  @include flex(row, flex-start, stretch);
  width: fit-content;
  max-width: 95dvw;
  height: auto;
  max-height: 95dvh;
  background-color: $color-white;
  border-radius: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px;
  padding: 50px 40px;

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    // transition:
    //   background-color 125ms ease,
    //   border-radius 125ms ease;

    // @include tablet-lg {
    //   inset-block-start: 20px;
    //   inset-inline-end: 10px;
    // }

    // &:hover {
    //   background-color: $color-gray-light;
    //   border-radius: 50%;
    // }
  }
}

.top-line{
	@include flex(space-between, center)
}