<div class="dialog-container">
  <div class="left-panel">
    <img src="logo/join-logo.svg" alt="Join Logo" class="logo" />
    <div class="title-container">
      <h2>{{ title() }}</h2>
      @if (subtitle()) {
        <h4 class="subtitle">{{ subtitle() }}</h4>
      }
    </div>
    <div class="underline"></div>
  </div>

  <div class="right-panel">
    <button mat-icon-button class="close-button" mat-dialog-close (click)="cancel()">
      <img src="/icons/other/close.svg" alt="close" />
    </button>

    <div class="content-wrapper">
      <div class="avatar">
        @if (avatarInitials()) {
          {{ avatarInitials() }}
        } @else {
          <img src="/icons/form/person.svg" alt="default-avatar" class="avatar-icon" />
        }
      </div>

      <form [formGroup]="form" class="form">
        <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
          <input matInput formControlName="name" placeholder="Name" />
          <img matSuffix src="/icons/form/person.svg" alt="user" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
          <input matInput type="email" formControlName="email" placeholder="Email" />
          <img matSuffix src="/icons/form/mail.svg" alt="mail" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
          <input matInput type="tel" formControlName="phone" placeholder="Phone" />
          <img matSuffix src="/icons/other/call.svg" alt="phone" />
        </mat-form-field>
      </form>
    </div>

    <div class="actions">
      <button class="btn btn-secondary" (click)="delete()">
        {{ cancelBtnText() }}
        @if (mode() === 'add') {
          <img src="/icons/other/close.svg" alt="close" />
        }
      </button>

      <button class="btn btn-primary" [disabled]="form.invalid" (click)="save()">
        {{ saveBtnText() }}
        <img src="/icons/other/check.svg" alt="check" />
      </button>
    </div>
  </div>
</div>
