@use '../../../../styles/components/button' as *;
@use '../../../../styles/abstracts/' as *;
@use '../../../../styles/base/typography' as *;

.contacts {
  @include flex(row, nowrap, flex-start, stretch);
  height: 100%;
  overflow: hidden;

  &__sidebar {
    width: 460px;
    padding: 16px 4px 16px 16px;
    @include flex(column, nowrap, flex-start, center);
    height: 100%;
    background: $color-white;
  }

  &__sidebar-inner {
    @include flex(column, nowrap, flex-start, center);
    height: 100%;
  }

  &__add-btn {
    width: 350px;
    flex-shrink: 0;
    font-size: 21px;
    font-weight: 700;

    .contacts__add-icon {
      width: 32px;
      height: 32px;
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  &__list {
    flex: 1;
    overflow-y: auto;
    padding: 0 16px 16px;

    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0 , 0, 0.35);
    }
  }

  &__group {
    margin-bottom: 20px;
  }

  &__group-letter {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 17px 36px;
    border-bottom: 1px solid $color-gray-light;
  }

  &__item {
    @include flex(row, nowrap, flex-start, center);
    align-items: center;
    padding: 17px 36px;
    cursor: pointer;
    transition: all 120ms ease-in-out;
    gap: 12px;

    &:hover {
      background: $color-gray-light;
      border-radius: 8px;
    }

    &--active {
      background-color: $color-primary;
      color: $color-white;

      .contacts__email {
        color: rgba($color-white, 0.7);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
  }

  &__name {
    font-size: 20px;
    color: $color-text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__email {
    font-size: 16px;
    color: $color-accent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 115px;
    padding-left: 60px;
  }

  &__divider {
    width: 4px;
    border-radius: 8px;
    height: 60px;
    background-color: $color-highlight;
  }

  &__title {
    font-size: 60px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 27px;
  }

  &__content {
    background: $content-bg;
    width: 100%;
  }
}

.btn-container{
  background-color: $color-white;
  height: 100px;
  width: 100%;
}
