<div class="contacts">
  <!-- LEFT: SIDEBAR -->
  <div class="contacts__sidebar" [class.contacts__sidebar--hidden]="contactService.selectedContact()">
    <div class="btn-container">
      <button class="btn-primary contacts__add-btn" (click)="openContactDialog('add')">
        <span class="contacts__add-text">Add new contact</span>
        <img class="contacts__add-icon" src="/icons/other/person_add.svg" alt="Add person icon" />
      </button>
    </div>
    <div class="contacts__sidebar-inner">
      <div class="contacts__list">
        @for (group of groupedContacts(); track group.letter) {
          <div class="contacts__group">
            <div class="contacts__group-letter">{{ group.letter }}</div>

            @for (c of group.contacts; track c.id) {
              <div class="contacts__item" 
                   (click)="selectContact(c)"
                   [class.contacts__item--active]="contactService.selectedContact()?.id === c.id">
                <app-avatar [name]="c.name"></app-avatar>

                <div class="contacts__info">
                  <div class="contacts__name">{{ c.name }}</div>
                  <div class="contacts__email">{{ c.email }}</div>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>

  <!-- RIGHT: CONTENT -->
  <div class="contacts__content" [class.contacts__content--visible]="contactService.selectedContact()">
    <div class="contacts__header">
      <div class="contacts__title">Contacts</div>
      <div class="contacts__divider"></div>
      <div class="contacts__subtitle">Better with a team</div>
    </div>

    @if (contactService.selectedContact(); as contact) {
      <app-contact-detail 
        [contact]="contact" 
        (edit)="openContactDialog('edit', contact)"
        (delete)="contact.id && deleteContact(contact.id)"
        (back)="contactService.selectedContact.set(null)">
      </app-contact-detail>
    }
  </div>
</div>

<!-- <p> {{ contactService.contacts() | json}} </p> -->
