@use '../../../styles/abstracts/' as *;

.task-card {
  @include flex(column, nowrap, flex-start, stretch);
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;
  background: $color-white;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.06);
  cursor: grab;
  gap: 12px;

  &:active {
    cursor: grabbing;
  }

  .task-title {
    font-size: 16px;
    font-weight: 700;
    color: $color-primary;
    margin: 0;
  }

  .task-desc {
    font-size: 16px;
    color: $color-text-muted;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: clip;
  }

  .task-footer {
    @include flex(row, nowrap, space-between, center);
    margin-top: 8px;

    .contact-list {
      @include flex(row, nowrap, flex-start, center);
      margin-left: 8px;
      cursor: pointer;
      position: relative;

      .avatar {
        @include flex(row, nowrap, center, center);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $color-white;
        margin-right: -8px;
        color: $color-white;
        font-size: 16px;
        font-weight: 400;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .prio-icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}

.avatar-overflow {
  background-color: $color-primary;
  color: $color-white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 0 2px $color-white;
  cursor: default;
  user-select: none;
}

@include mobile {
  .task-card {
    width: $task-card-width;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}
