@use '../../../styles/abstracts/' as *;

.avatar-circle {
  @include flex($justify-content: center, $align-items: center);
  background-color: var(--avatar-color);
  color: $color-white;
  border-radius: 50%;
  font-weight: 400;
  border: none;
  box-shadow: 0 0 0 2px $color-white;
  user-select: none;
  flex-shrink: 0;
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}

.header-variant {
  background-color: $color-white;
  color: $color-highlight;
  border: 3px solid $color-primary;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-light;
  }
}