@use '../../../styles/abstracts' as *;

.login-container {
  background: $color-bg-content;
}

.login-content {
  max-width: 1440px;
  @include flex(column, nowrap, flex-start, center);
  gap: 170px;
  height: 100dvh;
}

.header {
  width: 100%;
  margin: 70px 120px 0 0;

  .singup-line {
    @include flex(row, nowrap, flex-end, center);
    gap: 35px;

    p {
      font-size: 20px;
    }
  }
}

.login-form-box {
  width: clamp(300px, 90vw, 650px);
  height: auto;
  background: $color-white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  padding: 48px;
  @include flex(column, nowrap, flex-start, center);
  gap: 32px;

  .headline {
    @include flex(column, nowrap, flex-start, center);
    gap: 16px;
  }

  .separator {
    width: 150px;
    height: 3px;
    background-color: $color-highlight;
  }

  .form {
    max-width: 420px;
    gap: 12px;
  }

  .btns-container {
    @include flex(row, nowrap, center, center);
    gap: 35px;

    .btn-secondary, .btn-primary{
      padding: 12px 24px;
    }
  }
}