@use '../styles/abstracts/' as *;

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 0;
    background-color: $color-bg-content;
    width: 100%;

    &--full-bleed {
        padding: 0;
        max-width: none;
    }
}

/* #region responsive */
@include mobile {
    .layout {
        flex-direction: row;
    }

    .right-side {
        padding-bottom: 0;
    }

    .content {
        padding: 0;
    }
}

@include tablet-xl {
    .layout {
        flex-direction: row;
    }

    .right-side {
        padding-bottom: 0;
    }

    .content {
        padding: 0;
    }
}

/* #endregion */