@use '../../../styles/abstracts/' as *;

.board-container {
  padding: 80px 65px 0 65px;
  max-width: 1208px;
  width: 100%;
}

.board-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
  margin-top: 48px;
  align-items: stretch;
}

.column {
  @include flex(column, nowrap, flex-start, stretch);
}

.column-header {
  @include flex(row, wrap, space-between, center);
  margin-bottom: 24px;

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: $color-primary;
  }
}

.add-task-btn {
  @include flex(row, wrap, flex-start, center);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.1s ease;

  &:hover {
    svg rect,
    svg path {
      stroke: $color-highlight;
    }
  }
}

.task-list {
  flex-grow: 1;
  min-height: 150px;

  @media (min-width: 1351px) {
    min-height: calc(100dvh - 280px);
  }
}

.outer-drag {
  width: 100%;
  margin-bottom: 16px;
  overflow: visible;
}



.empty-list-placeholder {
  @include flex(row, nowrap, center, center);
  height: 56px;
  border: 1px dashed $color-text-muted;
  border-radius: 10px;
  background-color: $color-gray-light;
  color: $color-text-muted;
  font-size: 16px;
}

.task-list:has(.cdk-drag-placeholder) .empty-list-placeholder {
  display: none;
}

.cdk-drag-preview {
  background: transparent;
  box-shadow: none;
  padding: 0;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0.4;
  outline: 2px dashed $color-text-muted;
  outline-offset: -2px;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.03);
  margin-bottom: 16px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .task-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* #region RESPONSIVE */



@media (max-width: 1350px) {
  .board-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mobile {
  .board-container {
    padding: 48px 0 100px 0;
    max-width: 100%;
  }

  .board-content {
    @include flex(column, nowrap, flex-start, flex-start);
    gap: 32px;
    margin-top: 32px;
  }

  .column {
    width: 100%;
    min-width: 0;
  }

  .column-header {
    margin-bottom: 12px;
    width: $task-card-width;
    margin-left: 16px;
    padding: 0;
  }

  .task-list {
    @include flex(row, nowrap);
    overflow-x: auto;
  
    gap: 16px;
    padding: 10px 16px 20px 16px;
    min-height: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;

    @include scrollbar($width: 8px, $thumb-color: $color-find-task-border);

    &.cdk-drop-list-dragging {
      padding-right: 100px;
    }
  }

  .outer-drag {
    flex: 0 0 auto;
    width: auto;
    margin-bottom: 0;
    touch-action: auto !important; //DON'T  TOUCH THIS "IMPORTANT"

    &.cdk-drag-dragging {
      touch-action: none !important; //DON'T TOUCH THIS "IMPORTANT"
    }
  }

  .empty-list-placeholder {
    width: 250px;
    height: 56px;
    flex-shrink: 0;
  }

  .cdk-drag-placeholder {
    margin-bottom: 0;
    margin-right: 16px;
    width: $task-card-width;
    height: 150px;
  }
}
/* #endregion */