<ng-template #addBtn let-col>
    <button class="add-task-btn" (click)="openAddTaskDialog(col.id)">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="22" height="22" rx="7" stroke="#2A3647" stroke-width="2" />
            <path d="M12 8V16" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
            <path d="M16 12.0754L8 12.0754" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
        </svg>
    </button>
</ng-template>

<section class="board-container" cdkDropListGroup>
    <app-find-task></app-find-task>
    <div class="board-content">

        @for (col of columns; track col.id) {
        <div class="column">
            <div class="column-header">
                <h3>{{ boardConfig?.[col.configKey] || col.label }}</h3>
                @if (col.id !== 'done') {
                <ng-container *ngTemplateOutlet="addBtn; context: { $implicit: col }" />
                }
            </div>

            <div class="task-list" [id]="col.id" cdkDropList [cdkDropListData]="col.tasks()"
                (cdkDropListDropped)="drop($event)" [cdkDropListOrientation]="listOrientation()">
                @for (task of col.tasks(); track task.id) {
                <div class="task-card" cdkDrag (click)="openTaskDetailDialog(task)" [cdkDragStartDelay]="dragDelay()">
                    @if (task.category) {
                    <app-category-badge [category]="task.category" />
                    }
                    <h4 class="task-title">{{ task.title }}</h4>
                    <p class="task-desc">{{ task.description }}</p>

                    <app-subtask [taskId]="task.id" />

                    <div class="task-footer">
                        <div class="contact-list">
                            @for (assign of getTaskAssignments(task); track $index) {
                            @if (getContactInfo(assign); as info) {
                            <div class="avatar" [style.background-color]="info.color">
                                {{ info.initials }}
                            </div>
                            }
                            }
                        </div>
                        @if (task.priority) {
                        <img [src]="getPriorityIcon(task.priority)" class="prio-icon" [alt]="task.priority">
                        }
                    </div>
                </div>
                } @empty {
                <div class="empty-list-placeholder">No tasks {{ col.label }}</div>
                }
            </div>
        </div>
        }

    </div>
</section>