@use '../../../styles/abstracts' as var;

.legal-notice-container,
.privacy-policy-container {
  padding: 110px 100px 100px 100px;
  color: var.$color-text;
  max-width: 1208px;

  .header {
    @include var.flex($justify-content: space-between, $align-items: center);
    margin-bottom: 30px;

    h2 {
      color: var.$color-text;
    }
  }

  .header .back-button {
    display: none;
  }

  section {
    margin-bottom: 24px;

    h3 {
      color: var.$color-text;
    }

    p {
      color: var.$color-text;
      margin-bottom: 16px;
    }

    ul {
      list-style: disc;
      margin-left: 24px;
      margin-top: 16px;

      li {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    a {
      color: var.$color-highlight;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text-accent {
    color: var.$color-highlight;
    font-size: 16px;
  }
}

@include var.mobile {
  .legal-notice-container,
  .privacy-policy-container {
    padding: 50px 16px 80px 16px;
  }
}

.legal-notice-container .header .back-button,
.privacy-policy-container .header .back-button {
  @include var.tablet-xl {
    display: block;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }
}