@use '../../../styles/abstracts' as var;

.legal-notice-container,
.privacy-policy-container {
    padding: 110px 100px 0 100px;
    color: var.$color-primary;

    .header {
        @include var.flex($justify-content: space-between, $align-items: center);
        margin-bottom: 30px;

        h2 {
            color: var.$color-text;
        }

        .back-button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 8px;
            border-radius: 50%;
            transition: background-color 125ms;

            &:hover {
                background-color: var.$color-gray-light;
            }

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    section {
        margin-bottom: 24px;

        h3 {
            color: var.$color-text;
            margin-bottom: 16px;
        }

        p {
            color: var.$color-text;
            margin-bottom: 16px;
        }

        ul {
            list-style: disc;
            margin-left: 24px;
            margin-bottom: 16px;

            li {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 8px;
            }
        }

        a {
            color: var.$color-highlight;
            text-decoration: none;

            &.text-accent {
                color: var.$color-accent;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .text-accent {
        color: var.$color-accent;
    }
}

@include var.mobile {
    .legal-notice-container,
    .privacy-policy-container {
        padding: 50px 16px 0 16px;
    }
}