@use '../../../styles/abstracts' as *;

.summary_container {
    @include flex($flex-wrap: nowrap, $flex-direction: column);
    max-width: 1208px;
    width: 100%;
    padding: 110px 0 150px 100px;
}

.summary_content_left {
    @include flex($flex-direction: column);
}

.summary_content_right {
    @include flex($align-items: center);
    height: fit-content;
    align-self: center;
}

.summary_content_bottom {
    @include flex($flex-wrap: nowrap);
    gap: 80px;
    padding-top: 55px;
}

.summary_headline {
    @include flex($align-items: center);
    gap: 30px;

    h2,
    h4 {
        line-height: 1;
    }

    &--content {
        @include flex($align-items: center);
        gap: 30px
    }

    &__separator {
        background-color: $color-highlight;
        height: 60px;
        width: 3px;
    }


}

.summary_card_content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    max-width: 560px;
    gap: 30px;
}

.summary-card {
    @include flex($justify-content: center, $align-items: center);
    background-color: $color-white;
    box-shadow: 0 0 4px rgba($color-text, 0.1);
    height: 170px;
    border-radius: 30px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
    gap: 20px;

    &:hover {
        background-color: $color-primary;
        transform: scale(1.08);
        box-shadow: 0 4px 4px rgba($color-text, 0.25);

        .summary-card__icon-container:not(.summary-card__icon-container--urgent) {
            background-color: $color-white;

            img {
                filter: none;
            }
        }

        .summary-card__counter,
        .summary-card__deadline {
            color: $color-white;
        }
    }

    &:active {
        background-color: $color-white;
        box-shadow: 0 4px 4px rgba($color-text, 0.25);

        .summary-card__icon-container:not(.summary-card__icon-container--urgent) {
            background-color: $color-primary;

            img {
                filter: brightness(0) invert(1);
            }
        }

        .summary-card__counter,
        .summary-card__deadline {
            color: $color-primary;
        }
    }

    &__counter {
        @include flex($flex-direction: column, $align-items: center);
        text-align: center;
    }

    &__separator {
        background-color: $color-gray-form;
        height: 100px;
        width: 2px;
    }

    &__deadline {
        @include flex($flex-direction: column);
        gap: 15px;

        span {
            font-weight: 700;
        }
    }


    &--todo,
    &--done {
        grid-column: span 3;
    }

    &--urgency {
        grid-column: span 6;
        padding: 0 65px;
        flex-wrap: nowrap;

        &__left {
            @include flex(row, nowrap, center, center);
            gap: 20px;
        }
    }

    &--task-counter,
    &--task-progress,
    &--await-feedback {
        grid-column: span 2;
    }

    &__icon-container {
        @include flex(row, nowrap, center, center);
        background-color: $color-primary;
        border-radius: 50%;
        width: 70px;
        height: 70px;

        img {
            height: 30px;
            width: 30px;
            filter: brightness(0) invert(1);
        }

        &--urgent {
            background-color: $color-priority-urgent;
            width: 60px;
            height: 60px;

            img {
                width: 35px;
                height: 25px;
            }
        }


    }
}

/* #region RESPONSIVE */
@media (max-width: 1389px) {
    .summary_container {
        padding: 80px 0 150px 64px;
    }
}

@media (max-width:$breakpoint-desktop) {
    .summary_container {
        padding: 80px 0 150px 0px;
    }

    .summary_content_right {
        display: none;
    }

    .summary_content_bottom {
        justify-content: center;
    }

    .summary_headline {
        justify-content: center;
    }
}

@media (max-width: $breakpoint-tablet) {
    .summary_container {
        padding: 50px 16px 150px 16px;
    }

    .summary-card__icon-container {
        width: 40px;
        height: 40px;

        img {
            width: 18px;
            height: 18px;
        }

        &--urgent {
            width: 40px;
            height: 40px;

            img {
                width: 18px;
                height: 13px;
            }
        }
    }

    .summary_headline {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &--content {
            gap: 20px;
            justify-content: center;
        }
    }

    .summary_container.mobile-intro-active {

        .summary_headline,
        .summary_content_left {
            display: none;
        }

        .summary_content_right {
            @include flex($justify-content: center, $align-items: center);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: calc(100vh - 80px);
            background-color: $color-white;
            z-index: $z-index-overlay;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        .summary_container {
            padding: 50px 16px 100px 16px;
        }

        .summary_content_bottom {
            flex-direction: column;
        }

        .summary_headline {
            align-items: flex-start;

            &--content {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
              
            }

            h2 {
                order: 1;
            }

            h4 {
                order: 2;
            }

            &__separator {
                order: 3;
                width: 90px;
                height: 3px;
            }
        }

        .summary-card {
            max-height: 115px;
        }

        .summary-card--urgency {
            flex-direction: column;
            height: auto;
            min-height: 140px;
            padding: 16px;
            gap: 12px;

            .summary-card__separator {
                display: none;
            }

            .summary-card__deadline {
                align-items: center;
                text-align: center;
                gap: 4px;
            }
        }
    }

    @media(max-width: 390px) {
        .summary_container {
            padding: 50px 8px 100px 8px;
        }

        .summary_card_content {
            gap: 15px;
        }

    }
}


/* #endregion */