@use 'sass:list';
@use '../abstracts/' as *;

:root {
  @for $i from 1 through list.length($user-colors) {
    --user-color-#{$i}: #{list.nth($user-colors, $i)};
  }
}

.contact-dialog-panel, .dialog-container{
  animation: slideInRight 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;

  @include tablet-lg {
    animation: slideInBottom 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }

  &.slide-out {
    animation: slideOutRight 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;

    @include tablet-lg {
      animation: slideOutBottom 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
    }
  }
}

// --- Keyframes ---

@keyframes slideInRight {
  from { 
    transform: translateX(100%);
    opacity: 0;
  }
  to { 
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from { 
    transform: translateX(0);
    opacity: 1;
  }
  to { 
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInBottom {
  from { transform: translateY(100vh); }
  to   { transform: translateY(0); }
}

@keyframes slideOutBottom {
  from { transform: translateY(0);}
  to   { transform: translateY(100vh);}
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}