@use 'sass:list';
@use '../abstracts/' as *;

:root {
  @for $i from 1 through list.length($user-colors) {
    --user-color-#{$i}: #{list.nth($user-colors, $i)};
  }
}

.contact-dialog-panel {
  animation: slideInRight 0.4s ease-out forwards;

  @include tablet-lg {
    animation: slideInBottom 0.4s ease-out forwards;
  }
}

.slide-out {
  animation: slideOutRight 0.4s ease-in forwards;

  @include tablet-lg {
    animation: slideOutBottom 0.4s ease-in forwards;
  }
}

// --- Keyframes ---

@keyframes slideInRight {
  from { transform: translateX(100vw); }
  to   { transform: translateX(0); }
}

@keyframes slideInBottom {
  from { transform: translateY(100%); }
  to   { transform: translateY(0); }
}

@keyframes slideOutRight {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

@keyframes slideOutBottom {
  from { transform: translateY(0);}
  to   { transform: translateY(100%);}
}